.form{
    position: absolute;
    padding: 40px;
    width: 500px;
    height: 500px;
    top: 60%;
    left: 60%;
    bottom: 50%;
    transform: translate(-50%,-50%);
    background: rgba(12, 12, 12, 0.500);
    border-radius: 2px;
    background-size: cover;
    background-clip: content-box;
    box-shadow: 0 10px 10px 10px;
}
.form h1{
    color:white;
}
.form__label{
    color: white;
}
input{
    color:black;
}

/* .form-body{
    padding: auto;
    margin: auto;
    box-shadow: 0 10px 0 10px;
} */
.username input{
    border-radius: 0px;
    border-left: none;
    border-block: 10px;
    border-bottom: solid;
    margin: 10px;
    padding: 2px;
    width: 260px;
    height: 30px;
    text-align: center;
    background: rgb(0,0,0,0,.11);
    background-color: rgba(12, 12, 12, 0.500);
}
.username label{
padding: 2px;
}
.lastname input{
    border-radius: 0px;
    border-left: none;
    border-block: 10px;
    border-bottom: solid;
    margin: 10px;
    width: 260px;
    height: 30px;
    text-align: center;
    background: rgb(0,0,0,0,.11);
    background-color: rgba(12, 12, 12, 0.500);
}
.lastname label{
    padding: 2px;
    }
.email input{
    border-radius: 0px;
    border-left: none;
    border-block: 10px;
    border-bottom: solid;
    margin: 10px;
    width: 260px;
    height: 30px;
    text-align: center;
    background: rgb(0,0,0,0,.11);
    background-color: rgba(12, 12, 12, 0.500);
}
.email label{
    margin: 2px;
    padding-left: 30px;
}
.phoneno input{
    border-radius: 0px;
    border-left: none;
    border-block: 10px;
    border-bottom: solid;
    margin: 10px;
    width: 260px;
    margin-left: 15px ;
    height: 30px;
    text-align: center;
    background: rgb(0,0,0,0,.11);
    background-color: rgba(12, 12, 12, 0.500);
}
/* .phoneno .from_input{
    margin-left: px ;
} */
.phoneno label{
    padding-left: 15px;
}
.password input{
    border-radius: 0px;
    border-left: none;
    border-block: 10px;
    border-bottom: solid;
    margin: 10px;
    width: 260px;
    margin-left: 10px ;
    height: 30px;
    text-align: center;
    background: rgb(0,0,0,0,.11);
    background-color: rgba(12, 12, 12, 0.500);
}
.password label{
    padding-left: 5px;
    margin: 5px;
}
.confirm-password{
    padding: 5px;
}
.confirm-password input{
    border-radius: 0px;
    border-left: none;
    border-block: 10px;
    padding-top: 0px;
    border-bottom: solid;
    width: 260px;
    margin-right: 60px;
    padding: revert;
    height: 30px;
    text-align: center;
    background-color: rgba(12, 12, 12, 0.500);
}
.confirm-password label{
    padding-right: 15px;
}
.Register {
    color: white;
    border: none;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 300px;
    
}
.btn{
    background: green;
    font-size: 17px;
    border: none;
    height: 30px;
    width: 100px;
    color: white;
}